#outline {
    display: flex-wrap;
    border-style: solid;
    border-width:  10px;
    border-color: black;
    border-radius: 20px;
    width: 20%;
    height: 60vh;
    
}
header {
    display: flex;
   /* background-color: yellow;*/
    /*justify-content: space-between;*/
    font-size: small;


}
#top {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: yellow;
}
 
#left p{
    font: bold;
    background-color: yellow;
}
#right {
    justify-content: space-around;
    background-color: yellow;
}
#right svg {
    height: 3vh;
    width: auto;
}
#middle {
    background-color: yellow;
}
#middle img {
    height: 10vh;
    width: auto;
    justify-items: center;
    align-items: center;
}
main h1 {
    font: bold;
    font-size: medium;
    color:blue;
    align-items: center;
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
a {
    align-content: flex-start;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
