#outline {
    display: flex-wrap;
    border-style: solid;
    border-width:  12px;
    border-color: black;
    border-radius: 20px;
    width: 17%;
    height: 70%;
    padding: 2px;
    }

#h-top {
    background-color: yellow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
 header #top {
    display: flex;
    flex-direction: row;
    font-size: small;
    font-weight: bold;
    justify-content: space-between;
    }
/* #right {
    justify-content: space-around;
} */
#right svg {
    height: 3vh;
    width: auto;
}
#middle {
    background-color: yellow;
}
#middle img {
    height: 10vh;
    width: auto;
    justify-items: center;
    align-items: center;
}
main h1 {
    font: bold;
    font-size: large;
    color:blue;
    margin-top: -10px;
}
#menu {
    display: flex;
    justify-content: space-between;
}
#menu a {
    text-decoration: none;
    font-size: medium;
    justify-content: space-around;
    color: black;
}
#menu a:hover {
    text-decoration: underline;
    color: dodgerblue;
}
#fav-top {
    display: grid;
}
#fav-top left-side {
    display: flex;
}
#fav-top h2 {
    align-items: center;
    font-weight: bold;
    border-bottom: darkgrey;
}
#fav-top p {
    align-items: flex-start;
}
#high-five {
    width: 15px;
}
#bot-h1 {
    font-weight: bold;
    font-size: medium;
}
#bottom {
    padding: 2px;
}
#bot-h2 {
    font-size: medium;
    font-weight: bold;
}
#bot-p2 {
    font-size: small;
}
#bott-h2 {
    font-size: medium;
    font-weight: bold;
}
#bot-p3 {
    font-size: small;
}
input {
    background-color: dodgerblue;
    border-radius: 10px;
    width: 95%;
    margin-left: 5px;
    padding: 1%;
}

#left {
    font-weight: bold;
}
#menu-right {
    width: 5px;
}

header img {
    display: flex;
    flex-wrap: nowrap;
    width: 15px;
    height: auto;
}   
main img {
    background-color: yellow;
    align-items: stretch;
    width: 200%;
    height: auto;
    justify-content: stretch ;
}


