#outline {
    display: flex-wrap;
    border-style: solid;
    border-width:  10px;
    border-color: black;
    border-radius: 20px;
    width: 20%;
    height: 60vh;
    font-size: small;
}
#top {
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    padding: 2px;
}
 
#time {
    width: auto;
    border: none;
    height: 3vh;
}
#right {
    display: flex;
    justify-content: space-around;
}
#right svg {
    height: 3vh;
    width: auto;
}
#middle {
    background-color: yellow;
}
#middle image {
    height: 15vh;
    width: auto;
    justify-items: center;
    align-items: center;
}